<mat-card>
    <mat-card-title>Organization creation form</mat-card-title>
    <mat-card-content>
        <div class="organization-creation-container">
            <mat-form-field>
                <input matInput (input)="onTitleInput($event)" placeholder="Organization title">
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="create()" color="primary" mat-raised-button>Add organization</button>
    </mat-card-actions>

    <table class="table">
        <tr>
            <th>Weekday</th>
            <th>Schedule</th>
            <th>Day and Night</th>
            <th>Holiday</th>
        </tr>
        <tr *ngFor="let day of daysList">
            <td>{{ day.title }}</td>
            <td>
            <app-schedule-day (onSetDateEvent)="onSetDate($event)"
                              #scheduleComponent
                              [day]="day"></app-schedule-day>
            </td>
            <td>
                <mat-checkbox (change)="setDayAndNightStatus(day, $event)"></mat-checkbox>
            </td>
            <td>
                <mat-checkbox (change)="setHolidayStatus(day, $event)"></mat-checkbox>
            </td>
        </tr>
    </table>
</mat-card>