<mat-card *ngIf="organization">
    <mat-card-title>
        Organization: <b>{{ organization.title }}</b>
    </mat-card-title>
    <mat-card-content>
        <div *ngIf="organization.imagePath"
             (mouseenter)="onAvatarMouseOver()"
             (mouseleave)="onAvatarMouseOut()">
            <div class="organization-image-wrapper">
                <img *ngIf="organization.imagePath"
                     [src]="globals.domain + '/' + organization.imagePath"
                     alt="Profile image"
                     title="Profile image">
                <button *ngIf="showUploadAvatarButton"
                        (click)="onSetAvatarClick()"
                        class="upload-avatar-button">
                    Update
                </button>
            </div>
        </div>
        <div *ngIf="!organization.imagePath">
            <button (click)="onSetAvatarClick()"
                    class="set-first-organization-avatar"
                    mat-raised-button color="accent">
                Set organization avatar
            </button>
        </div>

        <input type="file"
               #avatar_input
               (change)="onAvatarSelect($event)"
               style="display: none;">
        <h3 style="margin-top: 30px;">Schedule</h3>
        <table class="table">
            <tr>
                <th>Weekday</th>
                <th>Day schedule</th>
            </tr>
            <tr *ngFor="let day of daysList; let i=index">
                <td>{{ day.date_ID.title }}</td>
                <td>
                    <span *ngIf="!day.isHoliday && !day.isDayAndNight">{{ day.from }} - {{ day.to }}</span>
                    <span *ngIf="day.isHoliday"><em>Holiday</em></span>
                    <span *ngIf="day.isDayAndNight"><em>All day and night</em></span>
                </td>
            </tr>
        </table>

        <div class="pined-services" *ngIf="services && services.length > 0">

            <h3>Pined services</h3>
            <hr style="margin: 0;">
            <mat-table #table [dataSource]="services">
                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
                    <mat-cell *matCellDef="let service"> {{service.service_ID.title}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
                    <mat-cell *matCellDef="let service">$ {{service.service_ID.price}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="duration">
                    <mat-header-cell *matHeaderCellDef> Duration</mat-header-cell>
                    <mat-cell *matCellDef="let service"> {{service.service_ID.duration}} min.</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let service">
                        <button *ngIf="isOrganizationBelongToMe" mat-button mat-raised-button color="primary"
                                routerLink="/service/{{service.service_ID.id}}">View
                        </button>
                        <button *ngIf="isOrganizationBelongToMe" mat-button mat-raised-button color="warn"
                                (click)="unpinService(service.service_ID.id)">Unpin
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>

        <div style="margin-top: 30px;" *ngIf="isOrganizationBelongToMe">
            <button mat-raised-button color="accent"
                    routerLink="/organization/{{organization.id}}/available-services">
                Pin service
            </button>

            <button mat-raised-button color="warn"
                    (click)="delete()">
                Delete organization
            </button>
        </div>

        <div class="pined-services" *ngIf="orders && orders.length > 0">

            <h3>Organization orders</h3>
            <hr style="margin: 0;">
            <mat-table #table [dataSource]="orders">

                <ng-container matColumnDef="service">
                    <mat-header-cell *matHeaderCellDef> Service</mat-header-cell>
                    <mat-cell *matCellDef="let order">{{order.service_ID.title}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="duration">
                    <mat-header-cell *matHeaderCellDef> Duration</mat-header-cell>
                    <mat-cell *matCellDef="let order"> {{order.service_ID.duration}} min.</mat-cell>
                </ng-container>

                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
                    <mat-cell *matCellDef="let order">$ {{order.service_ID.price}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedOrdersColumns "></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedOrdersColumns ;"></mat-row>
            </mat-table>
        </div>
    </mat-card-content>
</mat-card>