<div *ngIf="organizations && organizations.length > 0">
  <mat-table #table [dataSource]="organizations">
    <ng-container matColumnDef="avatar">
      <mat-header-cell *matHeaderCellDef> Avatar </mat-header-cell>
      <mat-cell *matCellDef="let organization">
        <img *ngIf="organization.organization_ID.imagePath"
             [src]="globals.domain + '/' + organization.organization_ID.imagePath"
             class="organization-avatar"
             alt="Avatar">
        <mat-icon *ngIf="!organization.organization_ID.imagePath">businesses</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let organization"> {{organization.organization_ID.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let organization">
        <button mat-button  mat-raised-button color="primary"
                (click)="onOrganizationSelect(organization.organization_ID)">Choose</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <!--<div class="organization-form-container">-->
    <!--<mat-form-field>-->
      <!--<mat-select (selectionChange)="onOrganizationSelect($event)" placeholder="Choose organization">-->
        <!--<mat-option *ngFor="let ogranization of organizations" [value]="ogranization.id">-->
          <!--{{ ogranization.title }}-->
        <!--</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->
  <!--</div>-->
</div>