<div *ngIf="services && services.length > 0">
  <div class="service-form-container">
    <div (click)="onServiceSelect(service)"
         class="item"
         *ngFor="let service of services">
      <div class="item-icon">
        <mat-icon>dashboard</mat-icon>
      </div>
      <div class="item-label">
        {{ service.title }}
      </div>
    </div>
    <!--<mat-form-field>-->
      <!--<mat-select (selectionChange)="onServiceSelect($event)" placeholder="Choose service">-->
        <!--<mat-option *ngFor="let service of services" [value]="service.id">-->
          <!--{{ service.title }}-->
        <!--</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->
  </div>
</div>
  