.service-form-container {
    width: 100%;
}

/*.item-wrapper {*/
    /*width: 33.333%;*/
    /*display: inline-block;*/
/*}*/

.item {
    margin-bottom: 20px;
    /*margin: 10px 20px;*/
    /*padding: 10px;*/
    border-radius: 15px;
    transition: all .3s;
    border: 2px solid #5a5a5a;
}

/*.item-icon img {*/
    /*height: 170px*/
/*}*/

.item:hover {
    background-color: #cfd3cf;
    cursor: pointer;
}

.item-label {
    text-align: center;
    font-size: 18pt;
    text-transform: uppercase;
}

.item-icon {
    text-align: center;
}

/*.material-icons {*/
    /*font-size: 150pt !important;*/
/*}*/

.mat-icon {
    width: 100%;
}