.service-form-container {
    width: 100%;
}

.item {
    display: inline-block;
    width: 33.333%;
}

.item:hover{
    background-color: #6c6e6c;
    cursor: pointer;
}

.item-label {
    text-align: center;
    font-size: 18pt;
    text-transform: uppercase;
}

.item-icon {
    text-align: center;
}

.material-icons {
    font-size: 150pt !important;
}

.mat-icon  {
    width: 100%;
}