<div class="wrapper">
  <h4>{{ usersOrganizations && usersOrganizations.length > 0 ? 'Your organizations' : 'No organizations' }}</h4>
  <hr style="margin: 0;">
  <mat-table *ngIf="usersOrganizations && globals.domain && usersOrganizations.length > 0" #table [dataSource]="usersOrganizations">
    <ng-container matColumnDef="avatar">
    <mat-header-cell *matHeaderCellDef style="padding-left: 10px;"> Avatar </mat-header-cell>
    <mat-cell *matCellDef="let organization">
      <img *ngIf="organization.imagePath && globals"
           [src]="globals.domain  + organization.imagePath"
           class="organization-avatar"
           alt="Avatar">
      <mat-icon *ngIf="!organization.imagePath">businesses</mat-icon>
    </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let organization"> {{organization.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mark">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let organization"> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="void">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let organization"> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let organization">
        <button mat-button  mat-raised-button color="accent" routerLink="/organization/{{organization.id}}">View</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div class="create-button-wrapper">
    <button mat-raised-button color="primary" routerLink="/organization-add">Create organization</button>
  </div>

</div>
