<div>
  <h4>Your organizations</h4>
  <mat-table #table [dataSource]="usersOrganizations">
    <ng-container matColumnDef="avatar">
    <mat-header-cell *matHeaderCellDef> Avatar </mat-header-cell>
    <mat-cell *matCellDef="let organization">
      <img *ngIf="organization.imagePath"
           [src]="'http://localhost:5000/' + organization.imagePath"
           class="organization-avatar"
           alt="Avatar">
      <mat-icon *ngIf="!organization.imagePath">businesses</mat-icon>
    </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let organization"> {{organization.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let organization">
        <button mat-button  mat-raised-button color="primary" routerLink="/organization/{{organization.id}}">View</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <br>
  <button mat-raised-button color="accent" class="create-organization-button" routerLink="/organization-add">Create organization</button>
</div>
