<mat-card>
    <mat-card-title>
        Order form
    </mat-card-title>
    <mat-card-content>

        <mat-horizontal-stepper [selectedIndex]="stepperIndex" (selectionChange)="onStepperSelectionChange($event)">
            <mat-step label="Services">
                <h5>First, choose service witch you are interested in</h5>
                <app-order-services [services]="services"
                                    (onServiceSelected)="onServiceSelect($event)"></app-order-services>
            </mat-step>
            <mat-step label="Organization">
                <h5>Second, choose organization witch you prefer the most</h5>
                <app-order-organizations [organizations]="organizations"
                                         (onOrganizationSelected)="onOrganizationSelect($event)"></app-order-organizations>
                <!--<div *ngIf="customerService">-->
                <!--<mat-list role="list">-->
                <!--<mat-list-item role="listitem">-->
                <!--<h3>Selected service: <b>{{ customerService.title }}</b></h3>-->
                <!--</mat-list-item>-->
                <!--<mat-list-item role="listitem">-->
                <!--Price: <b> $ {{ customerService.price }}</b>-->
                <!--</mat-list-item>-->
                <!--<mat-list-item role="listitem">-->
                <!--Duration: <b> {{ customerService.duration }} min.</b>-->
                <!--</mat-list-item>-->
                <!--<mat-list-item role="listitem">-->
                <!--<mat-form-field>-->
                <!--<input (dateTimeChange)="setStartingDate($event)"-->
                <!--[owlDateTime]="dt"-->
                <!--[owlDateTimeTrigger]="dt"-->
                <!--matInput-->
                <!--placeholder="Set date of begining">-->
                <!--</mat-form-field>-->

                <!--<owl-date-time #dt></owl-date-time>-->
                <!--</mat-list-item>-->
                <!--</mat-list>-->

                <!--<hr>-->
                <!--<button color="primary" mat-raised-button matStepperNext>Next step!</button>-->
                <!--</div>-->
            </mat-step>
            <mat-step label="Details">
                <h2>Order details</h2>
                <div class="customer-data-container">
                    <div *ngIf="selectedService && selectedOrganization">
                        <div class="row">
                            <div class="col-6">
                                <mat-list role="list">
                                    <mat-list-item role="listitem">
                                        Selected service:&nbsp;<b>{{ selectedService.title }}</b>
                                    </mat-list-item>
                                    <mat-list-item role="listitem">
                                        Organization service:&nbsp;<b>{{ selectedOrganization.title }}</b>
                                    </mat-list-item>
                                    <mat-list-item role="listitem">
                                        Price:&nbsp;<b>$&nbsp;{{ selectedService.price }}</b>
                                    </mat-list-item>
                                    <mat-list-item role="listitem">
                                        Duration:&nbsp;<b>{{ selectedService.duration }}&nbsp;min.</b>
                                    </mat-list-item>
                                </mat-list>
                            </div>
                            <div class="col-6">
                                <mat-list role="list">
                                    <mat-list-item role="listitem">
                                        <mat-form-field>
                                            <input (dateTimeChange)="setStartingDate($event)"
                                                   [owlDateTime]="dt"
                                                   [owlDateTimeTrigger]="dt"
                                                   matInput
                                                   placeholder="Set time of start">
                                        </mat-form-field>

                                        <owl-date-time #dt></owl-date-time>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="startingDate" role="listitem">
                                        Start time:&nbsp;<b>{{ moment(startingDate).format("HH:mm DD-MMM-YYYY") }}</b>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="startingDate" role="listitem">
                                        End time:&nbsp;<b>{{ moment(endingDate).format("HH:mm DD-MMM-YYYY") }}</b>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="startingDate" role="listitem">
                                        <button (click)="checkAvailability()"
                                                color="accent"
                                                mat-raised-button>Check availability</button>
                                    </mat-list-item>
                                    <mat-list-item role="listitem">
                                        <button (click)="makeOrder()"
                                                color="primary"
                                                [disabled]="!isAvailable"
                                                mat-raised-button>Make an order!</button>
                                    </mat-list-item>
                                </mat-list>
                            </div>
                        </div>

                    </div>

                    <!--<mat-form-field>-->
                    <!--<input matInput (input)="onCustomerPhoneInput($event)" placeholder="Your phone number">-->
                    <!--</mat-form-field>-->
                </div>

            </mat-step>
        </mat-horizontal-stepper>
    </mat-card-content>
</mat-card>
