<mat-card>
    <mat-card-content>
        <h2>Set your info</h2>
        <div class="user-data-container">

            <mat-form-field>
                <input matInput (input)="onEmailInput($event)" placeholder="Your email">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" (input)="onPasswordInput($event)" placeholder="Your password">
            </mat-form-field>
        </div>
        <button (click)="login()" color="primary" mat-raised-button>Login</button>
    </mat-card-content>
</mat-card>