<div *ngIf="user" class="user-wrapper">
    <table>
        <tr>
            <td (mouseenter)="onAvatarMouseOver()"
                (mouseleave)="onAvatarMouseOut()">
                <div *ngIf="user.imagePath"
                     class="user-image-wrapper">
                    <img [src]="'http://localhost:5000/' + user.imagePath"
                         alt="Profile image"
                         title="Profile image">
                    <button *ngIf="showUploadAvatarButton"
                            (click)="onSetAvatarClick()"
                            class="upload-avatar-button">
                        Update
                    </button>
                </div>
                <div *ngIf="!user.imagePath">
                    <button (click)="onSetAvatarClick()"
                            mat-raised-button color="accent">
                        Set your avatar
                    </button>
                </div>
            </td>
            <td>
                <div class="user-info-wrapper">
                    <ul>
                        <li><b>Name:</b> {{ user.userName }}</li>
                    </ul>

                </div>
            </td>
        </tr>
    </table>

    <input type="file"
           #avatar_input
           (change)="onAvatarSelect($event)"
           style="display: none;">
</div>
