/* You can add global styles to this file, and also import other style files */

/* Angular material */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";


.success {
    background-color: #00b244;
    font-size: 16pt;
    font-weight: bold;
    color: #e6e6e6;
}

.error {
    background-color: #ff4f31;
    color: #fff;
}